

body {
  background-color: white;
  color: #333;
  max-width: 700px;
  margin: 0 auto;
  font-family: 'san-serif';
}


p {
  font-size: 1.2em;
  line-height: 1.5em;
}

article + article {
  margin-top: 2em;
  padding-top: 2em;
  border-top: #333 1px solid;
}